#set($title = "近一年明细")
<style>
</style>
<ul class="table-view gjj"> 
   <li class="table-view-cell">
        <span class="gjj-detail-cell w-25 left pd-2">日期</span>
        <span class="gjj-detail-cell w-25 left pd-2">单位</span>
        <span class="gjj-detail-cell w-25 left pd-2 text-r" style="padding-right:8px;">发生额</span>
        <span class="gjj-detail-cell w-25 left pd-2 text-r">余额</span>
   </li> 
   #foreach($!detail in $!gjjDetails)
   <li class="table-view-cell">
        <span class="gjj-detail-cell w-25 left pd-2">$!dateTool.format('yyyyMM', $!detail.tradeTime)</span>
        <span class="gjj-detail-cell w-25 left pd-2">$!detail.teamName</span>
        <span class="gjj-detail-cell w-25 left pd-2 text-r" style="padding-right:8px;">$!detail.tradeAmount</span>
        <span class="gjj-detail-cell w-25 left pd-2 text-r">$!detail.balance</span>
   </li> 
   #end
</ul>
#parse("/gjj/footer.vm")
