##set($layout = "layout/no_nav.vm")
#set($title = "错误信息")
<div id="content" style="margin-top:20px;height:60px;text-align:left;
    ## border-bottom:1px solid #f1f1f1
    ">
       <div style="">
           <p class="text" style="margin:0;font-size:15px;color:#999999;line-height:22px;">
			  #if($message)
				<div style="margin:20px;padding: 10px;font-size:13px;border-radius: 3px;
                    background-color: #fffd93; text-align: center; color:#1111;">
                  $message
                </div>
			  #else

				<div style="margin:20px;padding: 10px;font-size:13px;border-radius: 3px;
				    background-color: #5cb85c; text-align: center; color:#fff;">
                  遇到了意外情况，无法完成您的请求。
                </div>
			  #end
		   </p>	
       </div>
</div>				
