.gjj{
    font-size: 14px;
}

.table-view.gjj{
    border-top: 0px;
}

.gjj .table-view-cell {
  padding: 11px 20px;
}

.gjj li.table-view-cell .left{
	
}

.gjj li.table-view-cell .right{
	float: right;
}